body{
    color: #fff;
    background-color: #212121;
}

.text{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.start, .stop{
    background-color: #7d0b0b;
    color: #fff;
    border: none;
    font-size: 30px;
    padding: 8px 40px;
    border-radius: 5px;
    cursor: pointer;
}